/* Contents of style.css file */

/* Element selector */
h1 {
    color: red;
  }
  
  /* Descendant selector */
  header h1 {
    color: red;
  }
  
  /* Class selector */
  .main-title {
    color: red;
  }
  
  /* ID selector */
  #site-title {
    color: red;
  }